/**************
 * Components *
 **************

 All the styling information used for defining the components used in the
 interface.
 **************/

/************
 * Monitors *
 ************/
.monitor {
	h4 {
		margin: 0px;
		padding: 0px;
	}
	span {
		text-align: right;
		width: 100%;
		align-self: flex-end;
	}
	margin: $margin-size;
	padding: $margin-size;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
	background-color: $background-color;
}

/***********
 * Sliders *
 ***********/
.slider {
	h4 {
		margin: 0px;
		padding: 0px;
	}
	input {
		margin: 2px;
		width: calc(80% - 4px);
	}
	span {
		width: 20%;
		display: inline-block;
		text-align: right;
	}
	.rowcontainer {
		justify-content: space-between;
		align-items: center;
	}
	background-color: $background-color;
	margin: $margin-size;
	padding: $margin-size;
	width: 50%;
}

/***********************
 * Combined laying out *
 ***********************/
.rowcontainer > {
	.monitor, .slider {
		&:first-of-type {
			margin-left: 0px;
		}
		&:last-of-type {
			margin-right: 0px;
		}
	}
}

.columncontainer > {
	.monitor, .slider {
		&:first-of-type {
			margin-top: 0px;
		}
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}

/********
 * Plot *
 ********/
.plot {
	width: 100%;
	height: $plot-height;
	background-color: $background-color;
}
