/*************
 * Variables *
 *************/
$background-color: rgba(255, 255, 255, 0.8);
$margin-size: 5px;
$newsfeed-height: 170px;
$plot-height: 300px;
$new-news-color: rgb(230, 249, 255);

/***********
 * Imports *
 ***********/
@import 'components.scss';
@import 'tabs.scss';

/**********
 * Header *
 **********/
#header {
	display: flex;
	flex-direction: row;
	background-color: black;
	padding: $margin-size;
	width: calc(100% - 2 * $margin-size);
	height: 20px;
	color: white;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	span {
		margin-right: $margin-size;
	}
}

#weather {
	color: white;
}

@keyframes mail {
	0% {
		color: red;
	}
	100% {
		color: white;
	}
}

.mailnoti {
	animation: mail 2s;
}

/******************
 * Main interface *
 ******************/
#interface {
	display: flex;
}

/*********************************
 * Information view (left split) *
 *********************************/
#information-view {
	flex: 0 0 50%;
}

div.splits {
	width: calc(50% - #{2 * $margin-size});
	margin: $margin-size;
}

/* News */
@keyframes news {
	0% {
		background-color: $new-news-color;
		color: $new-news-color;
	}
	100% {
		background-color: $background-color;
		color: black;
	}
}

.newnews-enter-active {
	animation: news 3s;
}

#newsfeed {
	h2 {
		margin: 0px;
		padding: 0px;
		height: 30px;
	}
	ul {
		li {
			list-style-type: none;
			border-bottom: 1px solid rgb(212, 212, 212);
		}
		overflow: scroll;
		margin: 0px;
		padding: 0px;
		height: $newsfeed-height - 30px;
		border-top: 1px solid black;
	}
	background-color: $background-color;
	width: calc(100% - #{2 * $margin-size});
	height: $newsfeed-height;
	margin: $margin-size;
	padding: $margin-size;
	margin-left: 0px;
}

#monitors {
	display: flex;
	flex-direction: row;
}

/****************
 * Tab contents *
 ****************/
#controls {
	flex: 1;
}

/********
 * Chat *
 ********/
.chatlist {
	li {
		list-style-type: none;
		padding-left: 5px;
		border-bottom: 1px solid rgb(212, 212, 212);
	}
	border-top: 1px solid black;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	height: #{($newsfeed-height + $plot-height)/2 + $margin-size - 89px};
}

#chatinput {
	input {
		flex-shrink: 0;
	}
	#chatmsg {
		flex-grow: 1;
		flex-shrink: 0;
		margin: 5px;
	}
	margin-top: auto;
	min-height: 29px;
	border-top: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/**************
 * Under tabs *
 **************/
.extra {
	input {
		flex-grow: 1;
	}
	h2 {
		border-bottom: 1px solid black;
	}
	background-color: $background-color;
	padding: $margin-size;
	margin-top: $margin-size;
	width: calc(90% - #{2 * $margin-size});
}

/********
 * Logo *
 ********/
#logo {
	margin: $margin-size;
	align-self: flex-end;
}
