/***********
 * Imports *
 ***********/
@import 'interface.scss';

/*********
 * Admin *
 *********/
.adminbuttons {
	button {
		font-size: large;
	}
	height: $newsfeed-height;
	margin: $margin-size;
	padding: $margin-size;
	width: calc(100% - #{2 * $margin-size});
	margin-left: 0px;
}
