body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Georgia, Serif;
	background-image: linear-gradient(#9AE265 10%, #3ED530);
}

/*
#content:before {
	content: "";
	position: fixed;
	left: -5%;
	top: -5%;
	right: 0;
	z-index: -1;

	display: block;
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.4)),
		url('/images/nuclear.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 110%;
	height: 110%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
} */

#content {
	position: fixed;
	x: 0;
	y: 0;
	z: 0;
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin: 0px;
}

.rowcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.columncontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
