{% extends "interface.html" %}
{% block title %}ETG - Admin Panel{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
var oldOnload = window.onload

window.onload = function() {
  oldOnload();
  var tabs = document.getElementById("tabs");
  tabs.style.display = "none";
}

window.start = function() {
  socket.send(JSON.stringify({type: 'action', action: 'start', args: []}))
  console.log("Send start")
}

window.pause = function() {
  socket.send(JSON.stringify({type: 'action', action: 'pause', args: []}))
  console.log("Send pause")
}

window.setup = function() {
  socket.send(JSON.stringify({type: 'action', action: 'setup', args: []}))
  console.log("Send setup")
}
  </script>
{% endblock %}

{% block plot %}
<div style="height: 300px;">
<etg-pie title="Resource Use" key="res" collection="energy_types"
                                        variable="percentage_use">
</etg-pie>
</div>
{% endblock %}

{% block monitors %}
<div class="extra" style="width: calc(100% - 10px);">
  <h2>Parties</h2>
  <span v-for="party in parties">[[ party.name ]]</span>
</div>
{% endblock %}

{% block extracontrols %}
<div class="adminbuttons columncontainer">
<button onclick="start()" :disabled="!is_setup || !paused">Start</button>
<button onclick="pause()" :disabled="paused">Pause</button>
<button onclick="setup()" :disabled="is_setup || parties.length == 0 ||
  companies.length == 0">Setup</button>
</div>

<etg-plot title="Market Share" :max="100" key="share"
          y-label="% of the population"
          variable="market_share" collection="companies">
</etg-plot>

<div class="extra" style="width: calc(100% - 10px);">
  <h2>Companies</h2>
  <span v-for="company in companies">[[ company.name ]]</span>
</div>
{% endblock %}

{% block starttab %}Chat{% endblock %}
