{% extends "interface.html" %}

{% block plot %}
  <div class="columncontainer">
    {{ super() }}
    <select>
      <option>Market Share</option>
      <option>Greenness</option>
      <option>Income</option>
      <option>Energy consumption and production</option>
    </select>
  </div>
{% endblock plot %}

{% block monitors %}
  <div class="rowcontainer">
    <etg-monitor monitor="budget">Budget</etg-monitor>
    <etg-monitor monitor="income">Income</etg-monitor>
  </div>
  <div class="rowcontainer">
    <etg-slider ident="marketing">Marketing</etg-slider>
    <!-- slider, van 0 tot 100% van inkomen -->
    <etg-slider ident="price" :max="1" :step="0.01" unit="€">Price per kWh</etg-slider>
    <!-- slider, van 0 tot 1 euro -->
  </div>
{% endblock monitors %}

{% block controls %}
  {% call tabs.content('Owned') %}
    {% for type in energy_types %}
    <div v-if="producers.{{ type.name }}.tier > 0">
        <h3>{{ type.name|capitalize }}</h3>
        <table>
          <tr>
            <td>Tier level</td>
            <td>[[ producers.{{ type.name }}.tier ]]</td>
            <td>Output</td>
            <td>[[ producers.{{ type.name }}.output ]] kWh</td>
            <td>Tax level</td>
            <td></td>
          </tr>
          <tr>
            <td><button>Upgrade</button></td>
            <td>[[ producers.{{ type.name }}.upgrade_price ]]</td>
            <td>Output after update</td>
            <td>[[ producers.{{ type.name }}.next_output ]]</td>
            <td><button>Sell</button></td>
            <td>[[ producers.{{ type.name }}.sell_price ]]</td>
          </tr>
        </table>
      </div>
    {% endfor %}
  {% endcall %}

  {% call tabs.content('Buyable') %}
    {% for type in energy_types %}
      <div v-if="producers.{{ type.name }}.tier === 0">
        <h3>{{ type.name | capitalize }}</h3>
        <div class="rowcontainer">
          <div>
            <h4>Output</h4>
            [[ producers.{{ type.name }}.next_output ]]
          </div>
          <div>
            <h4>Price</h4>
            [[ producers.{{ type.name }}.upgrade_price ]]
          </div>
          <button>Buy</button>
        </div>
      </div>
    {% endfor %}
  {% endcall %}

  {% call tabs.content('Market') %}
    <h3>Open Energy Market</h3>
    {% for type in energy_types %}
      <h4>{{ type.name | capitalize }}</h4>
      <input v-model.number="market.{{ type.name }}" type="number"
             v-on:input="updateMarket('{{ type.name }}', $event.target.value)">
      <span>kWh</span>
    {% endfor %}
  {% endcall %}
  <!-- Een tab waar energie van vrije markt staat, die koop je in kwh -->

  {% call tabs.content('Taxes') %}
    <h3>Taxes</h3>
    <table>
      <tr>
        <th></th>
        {% for type in energy_types %}
        <th>{{ type.name | capitalize }}</th>
        {% endfor %}
      </tr>
      {% for party in parties %}
        <tr>
          <th>{{ party.name }}</th>
          {% for type in energy_types %}
            <td>0 %</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endcall %}
  {{ super() }}
{% endblock controls %}

{% block extracontrols %}
<div class="extra">
  <h3>Parties</h3>
  <h4>Ruling Party</h4>
  [[ active_party.name ]]
  <h4>Donations</h4>
  <div class="rowcontainer">
    <select v-model="donate_party">
      {% for party in parties %}
        <option>{{ party.name }}</option>
      {% endfor %}
    </select>
    <input v-model.number="donate_amount" type="number">
    <button>Donate</button>
  </div>
</div>
{% endblock %}

{% block tablisting %}
  {{ tabs.link('Owned', faicon='plug') }}
  {{ tabs.link('Buyable', faicon='credit-card') }}
  {{ tabs.link('Market', faicon='eur') }}
  {{ tabs.link('Taxes', faicon='percent') }}
  {{ super() }}
{% endblock %}
