{% extends "interface.html" %}

{% block scripts %}
  {{ super() }}
  <script>
window.donate = function() {
  var data = {'type': 'action', 'action': 'donate',
              'args': [vm.donate_party, vm.donate_amount]};
  sendJSON(socket, data);
}

window.update = function(energy_type) {
  var data = {'type': 'action', 'action': 'upgrade', 'args': [energy_type]}
  console.log(data)
  sendJSON(socket, data)
}
  </script>
{% endblock %}

{% block plot %}
  <etg-plot-container>
    <etg-plot title="Market Share" :max="100" key="share"
              variable="market_share" collection="companies">
    </etg-plot><etg-plot title="Greenness" :max="100" key="green"
                         collection="companies" variable="product_green">
    </etg-plot><etg-plot title="Income" key="income"
                         collection="companies" variable="income">
    </etg-plot><etg-plot title="Energy production" key="production"
    :stacked="true"
                         collection="total_output" variable="output">
    </etg-plot>
  </etg-plot-container>
{% endblock plot %}

{% block monitors %}
  <div class="rowcontainer">
    <etg-monitor monitor="budget">Budget</etg-monitor>
    <etg-monitor monitor="income">Income</etg-monitor>
  </div>
  <div class="rowcontainer">
    <etg-monitor monitor="rawcost">Raw cost</etg-monitor>
    <etg-monitor monitor="profit">Profit</etg-monitor>
  </div>
  <div class="rowcontainer">
    <etg-slider ident="marketing">Marketing</etg-slider>
    <!-- slider, van 0 tot 100% van inkomen -->
    <etg-slider ident="price" :max="1" :step="0.01" unit="€">Price per kWh</etg-slider>
    <!-- slider, van 0 tot 1 euro -->
  </div>
{% endblock monitors %}

{% block controls %}
  {% call tabs.content('Owned') %}
    {% for type in energy_types %}
    <div v-if="producers.{{ type.name }}.tier > 0">
        <h3>{{ type.name|capitalize }}</h3>
        <table>
          <tr>
            <th>Tier level</th>
            <th>Output</th>
            <th>Production cost</th>
          </tr>
          <tr>
            <td>[[ producers.{{ type.name }}.tier ]]</td>
            <td>[[ producers.{{ type.name }}.output | round ]] kWh</td>
            <td>€[[ producers.{{ type.name }}.price | round ]] per kWh</td>
          </tr>
          <tr>
            <th>Upgrade cost</th>
            <th>Output after update</th>
            <th>Production cost after update</th>
          </tr>
          <tr>
            <td>[[ producers.{{ type.name }}.upgrade_price | round ]]</td>
            <td>[[ producers.{{ type.name }}.next_output | round ]] kWh</td>
            <td>€[[ producers.{{ type.name }}.next_price | round ]] per kWh</td>
            <!--<td><button>Sell</button></td>
            <td>[[ producers.{{ type.name }}.sell_price | round ]]</td>-->
          </tr>
        </table>
        <button v-if="producers.{{ type.name }}.upgrade_price <= budget
        && producers.{{type.name}}.tier < producers.{{type.name}}.max_tier"
                onclick="update('{{type.name}}')">Buy</button>
        <button v-else disabled>Buy</button>
      </div>
    {% endfor %}
    {% endcall %}

  {% call tabs.content('Buyable') %}
    <h3>Buy new producers</h3>
    <table style="width: 100%;">
      <tr>
        <th>Energy Type</th>
        <th>Price</th>
        <th>Initial Output</th>
        <th>Buy</th>
      </tr>
      <tr v-for="(producer, prod_name) in producers" v-if="producer.tier ===0">
        <td>[[ prod_name | capitalize ]]</td>
        <td>[[ producer.upgrade_price | round ]]</td>
        <td>[[ producer.next_output | round ]]</td>
        <td><button v-if="producer.upgrade_price <= budget"
            v-on:click="updateProducer(prod_name)">Buy</button>
          <button v-else disabled>Buy</button>
        </td>
      </tr>
    </table>
  {% endcall %}

  {% call tabs.content('Market') %}
    <h3>Open Energy Market</h3>
    {% for type in energy_types %}
      <h4>{{ type.name | capitalize }}</h4>
      <input v-model.number.lazy="market.{{ type.name }}" type="number"
             v-on:input="updateMarket('{{ type.name }}', $event.target.value)">
      <span>kWh</span>
    {% endfor %}
  {% endcall %}
  <!-- Een tab waar energie van vrije markt staat, die koop je in kwh -->

  {% call tabs.content('Taxes') %}
    <h3>Taxes</h3>
    <table>
      <tr>
        <th></th>
        {% for type in energy_types %}
        <th>{{ type.name | capitalize }}</th>
        {% endfor %}
      </tr>
        <tr v-for="party in parties">
          <th>[[ party.name ]]</th>
          {% for type in energy_types %}
          <td>[[ party.taxes.{{ type.name }} ]] %</td>
          {% endfor %}
        </tr>
    </table>
  {% endcall %}
  {{ super() }}
{% endblock controls %}

{% block extracontrols %}
<div class="extra">
  <h3>Parties</h3>
  <h4>Ruling Party</h4>
  [[ active_party.name ]]
  <h4>Donations</h4>
  <div class="rowcontainer">
    <select v-model="donate_party">
      <option v-for="party in parties">[[ party.name ]]</option>
    </select>
    <input v-model.number="donate_amount" type="number">
    <button onclick="donate()">Donate</button>
  </div>
</div>
{% endblock %}

{% block tablisting %}
  {{ tabs.link('Owned', faicon='plug') }}
  {{ tabs.link('Buyable', faicon='credit-card') }}
  {{ tabs.link('Market', faicon='eur') }}
  {{ tabs.link('Taxes', faicon='percent') }}
  {{ super() }}
{% endblock %}
