{% extends "base.html" %}
{% import 'tabs.html' as tabs %}
{% block head %}
  {{ super() }}
  {% block scripts %}
    <script src="https://use.fontawesome.com/db3220912c.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/interface.js"></script>
  <script>
window.onload = function() {
  window.socket = make_connection("{{ name|safe }}");
  define_components(socket)
  openTab({currentTarget:
    document.getElementById('button-{{ starttab|safe }}')},
    '{{ starttab|safe }}');
  console.log("Adding event listener")
  socket.addEventListener("initial", function(e) {
    var data = e.detail.packet;
    data.newsfeed = [];
    data.chatmessages = [];
    data.active_party = "";
    data.donate_party = "";
    data.donate_amount = 0;
    console.log(data)
    setup_vue(data, socket);
  })

  socket.addEventListener("change", function(e) {
    var data = e.detail.packet;
    for (var key in data) {
      if (key in vm.$data) {
        vm.$data[key] = data[key];
      }
    }
  })

  socket.addEventListener("news", function(e) {
    var news = e.detail.news;
    vm.newsfeed.unshift(news);
  })

  window.send_chat = function () {
    var chatmsg = document.getElementById('chatmsg');
    socket.send(JSON.stringify({'type': 'chat',
                                'text': chatmsg.value,
                                'target': []}));
    chatmsg.value = '';
    return false;
  }

  var chatlist = document.getElementById("chatlist")
  socket.addEventListener("chat", function(e) {
    console.log("Got a chat message");
    vm.chatmessages.push(e.detail);
  })
}
  </script>
  {% endblock %}
{% endblock head%}
{% block title %}ETG - {{ name }}{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/styles/interface.css">
{% endblock styles %}

{% block content %}
  {% block header %}
  <div id="header">
    <span id="name">{{ name }}</span>
    <span class="filler"></span>
    <span id="weather">[[ weather ]]</span>
    <span class="divider"></span>
    <span id="date">[[ current_date ]]</span>
  </div>
  {% endblock header %}
  <div id="interface">
  {% block interface %}
    <div class="splits columncontainer" id="information-view">
      {% block information %}
        <div id="newsfeed">
          <h2>Newsfeed</h2>
          <ul>
            <transition-group name="newnews">
              <li v-for="news in newsfeed" v-bind:key="news">
                [[ news ]]
              </li>
            </transition-group>
          </ul>
        </div>
        {% block plot %}
          <plot></plot>
        {% endblock plot %}
        {% block monitors %}
        {% endblock monitors %}
      {% endblock information %}
    </div>
    <div class="splits columncontainer" id="tabs">
      <div class="rowcontainer" id="tabs">
      {% block tabs %}
        {% block controls %}
        {% endblock controls %}
        {% block chat %}
          {% call tabs.content('Chat') %}
            <ol id="chatlist">
              <li v-for="chats in chatmessages" v-bind:key="chats">
                <span>&lt;[[ chats.sender ]]&gt;</span> [[ chats.text ]]
              </li>
            </ol>
            <form id="chatinput" action="" onsubmit="return send_chat();alert('done')">
              <input type="text" id="chatmsg" placeholder="type here">
              <input type="submit" value="Send">
              <label> <input type="checkbox" id="autoscroll" checked="checked">
              autoscroll
              </label>
            </form>
          {% endcall %}
        {% endblock chat %}
        <div class="tablisting">
          {% block tablisting %}
            {{ tabs.link('Chat', faicon='envelope-o') }}
          {% endblock tablisting %}
        </div>
      {% endblock tabs %}
      </div>
    {% block extracontrols %}
    {% endblock %}
    </div>
  {% endblock interface %}
  </div>
{% endblock content %}
