{% extends "interface.html" %}

{% block scripts %}
  {{ super() }}
  <script>
window.changeTax = function(energy_type, amount) {
  var data = vm.taxes;
  data[energy_type] += amount;
  sendJSON(socket, {'type': 'change', 'packet': {'taxes': data}})
}

window.campaign = function() {
  sendJSON(socket, {'type': 'action', 'action': 'campaign', 'args': []});
}
  </script>
{% endblock %}

{% block plot %}
<div class="rowcontainer">
  {{ super() }}
  <div class="columncontainer">
    <etg-monitor monitor="election_time">Days till election</etg-monitor>
    <etg-monitor monitor="approval_rate">Approval</etg-monitor>
    <etg-monitor monitor="non_voters">Non voters</etg-monitor>
  </div>
</div>
{% endblock plot %}

{% block monitors %}
  <div id="govmonitors" class="rowcontainer">
    <div class="columncontainer">
      <etg-monitor monitor="government_income">Income</etg-monitor>
      <etg-monitor monitor="government_income_change">Change</etg-monitor>
    </div>
    <div class="columncontainer">
      <etg-monitor monitor="government_budget">Budget</etg-monitor>
      <etg-monitor monitor="government_budget_change">Change</etg-monitor>
    </div>
    <div class="columncontainer">
      <etg-monitor monitor="green">Green</etg-monitor>
      <etg-monitor monitor="green_change">Change</etg-monitor>
    </div>
  </div>
{% endblock monitors %}

{% block controls %}
  {% call tabs.content('Inputs') %}
    <table style="width: 100%;">
      <tr>
        <th></th>
        <!--<th>Bruto Price</th>
        <th>Average Price</th>-->
        <th>Tax</th>
        <th>Increase</th>
        <th>Decrease</th>
      </tr>
      {% for type in energy_types %}
        <tr>
          <th>{{ type.name|capitalize }}</th>
          <!--<td>[[ {{ type.name }}.price_bruto ]]</td>
          <td>[[ {{ type.name }}.price_average ]]</td>-->
          <td>[[ taxes.{{ type.name }} ]]</td>
          <td><button onclick="changeTax('{{ type.name }}', 1)"
              class="tax_button">+</button></td>
          <td><button onclick="changeTax('{{ type.name }}', -1)"
              class="tax_button">-</button></td>
        </tr>
      {% endfor %}
    </table>
  {% endcall %}
  {% call tabs.content('Campaign') %}
  <div class="rowcontainer">
    <etg-monitor monitor="money">Party Budget</etg-monitor>
    <etg-monitor monitor="compaign_reach">Campaign Reach</etg-monitor>
  </div>
  <button v-if="money >= campaign_cost" onclick="campaign()"
    class="tax_button">Spend money on campaign</button>
  <button v-else disabled>Spend money on campaign</button>
  {% endcall %}

  {{ super() }}
{% endblock controls %}

{% block starttab %}Inputs{% endblock %}
{% block tablisting %}
  {{ tabs.link('Inputs', faicon='percent') }}
  {{ tabs.link('Campaign') }}
  {{ super() }}
{% endblock %}
