{% extends "interface.html" %}

{% block scripts %}
  {{ super() }}
  <script>
window.changeTax = function(energy_type, amount) {
  var data = vm.taxes;
  data[energy_type] += amount;
  sendJSON(socket, {'type': 'change', 'packet': {'taxes': data}})
}

window.campaign = function() {
  sendJSON(socket, {'type': 'action', 'action': 'campaign', 'args': []});
}
  </script>
{% endblock %}

{% block plot %}
<etg-plot-container>
  <etg-plot title="Election poll" :max="100" key="poll"
    y-label="% of the population"
    variable="percentage_voters" collection="parties" overlay="non_voters">
  </etg-plot><etg-plot title="Energy Prices" :max="0.5" key="prices"
            y-label="€/kWh"
            collection="energy_types" variable="price">
  </etg-plot><etg-pie title="Resource Use" key="res"
                      collection="energy_types" variable="percentage_use">
  </etg-pie>
</etg-plot-container>
{% endblock plot %}

{% block monitors %}
  <div id="govmonitors" class="rowcontainer">
  <div class="columncontainer">
    <etg-monitor monitor="days_until_election" unit="days">Days till election</etg-monitor>
    <etg-monitor monitor="approval_rate" unit="%">Approval</etg-monitor>
    <etg-monitor monitor="non_voters">Non voters</etg-monitor>
  </div>
    <div class="columncontainer">
      <etg-monitor monitor="government_income" unit="€">Income</etg-monitor>
      <etg-monitor monitor="change_government_income" unit="€">Change</etg-monitor>
    </div>
    <div class="columncontainer">
      <etg-monitor monitor="government_budget" unit="€">Government Budget</etg-monitor>
      <etg-monitor monitor="change_government_budget" unit="€">Change</etg-monitor>
    </div>
    <div class="columncontainer">
      <etg-monitor monitor="greenness">Green</etg-monitor>
      <etg-monitor monitor="change_greenness">Change</etg-monitor>
    </div>
  </div>
{% endblock monitors %}

{% block controls %}
  {% call tabs.content('Inputs') %}
    <h3>Tax Policy</h3>
    <table style="width: 100%;">
      <tr>
        <th></th>
        <th>Bruto Price</th>
        <th>Average Price</th>
        <th>Tax</th>
        <th>Increase</th>
        <th>Decrease</th>
      </tr>
        <tr v-for="type in energy_types">
          <th>[[ type.name | capitalize ]]</th>
          <td>[[ type.raw_price | round ]]</td>
          <td>[[ type.price | round ]]</td>
          <td>[[ taxes[type.name] ]]</td>
          <td><button @click="changeTax(type.name, 1)"
              class="tax_button">+</button></td>
          <td><button @click="changeTax(type.name, -1)"
              class="tax_button">-</button></td>
        </tr>
    </table>
  {% endcall %}

  {{ super() }}
{% endblock controls %}

{% block starttab %}Inputs{% endblock %}
{% block tablisting %}
  {{ tabs.link('Inputs', faicon='percent') }}
  {{ super() }}
{% endblock %}

{% block extracontrols %}
  <div style="width: 90%">
    <div class="rowcontainer">
      <etg-monitor monitor="money" unit="€">Party Budget</etg-monitor>
      <etg-monitor monitor="campaign_reach" unit="% of population">Campaign Reach</etg-monitor>
    </div>
    <button v-if="money >= campaign_cost" onclick="campaign()"
      class="tax_button">Spend money on campaign</button>
    <button v-else disabled>Spend money on campaign</button>
  </div>
  <div class="extra" style="text-align:center;">
    <template v-if="active_party.name">
      <h4 v-if="active_party.name === '{{ name }}'">You are in power!</h4>
      <h4 v-else>[[ active_party.name ]] is in power.</h4>
    </template>
    <h4 v-else>The land is ruled by anarchy</h4>
  </div>
  <div style="height: 110px;"></div>
  <div class="rowcontainer">
    <etg-monitor monitor="total_production" unit="kWh">Total Energy
      production</etg-monitor>
    <etg-monitor monitor="total_demand" unit="kWh">Total Energy
      demand</etg-monitor>
  </div>
{% endblock %}
